# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.spec
build/
dist/

# Debug / Testing Files
test.py
config.json

# Compiled versions of the AFK Bot
R6_AFK.exe
R6_AFK_Craptops.exe